.el-tabs
  background var(--bodyBg) !important
  box-shadow unset !important
  border-color var(--borderColor) !important
  border-radius 0.25rem
  overflow hidden
  .el-tabs__header
    background var(--bodyBg) !important
    color var(--textColor) !important
    border none
    .el-tabs__item
      border none !important
      &.is-active
        background transparent !important
  .el-tabs__content
    p
      margin 0 !important
    img
      display block !important
    pre[class*="language-"]
      margin 0 !important
    padding 0 !important
