.el-tabs
  background var(--bodyBg) !important
  box-shadow unset !important
  border-color var(--borderColor) !important
  .el-tabs__header
    background var(--bodyBg) !important
    color var(--textColor) !important
    border-bottom-color var(--borderColor) !important
    .el-tabs__item
      border none !important
      &.is-active
        background var(--borderColor) !important
  .el-tabs__content
    padding 0 !important
